h1, h2 {
	font-family: "Nixie One";
	text-shadow:1px 1px white;
}

h4, h5 {
	color: #471D5C;
}

body {
	background-color: white;
	font-family: "Open Sans";
	font-weight: 100;
	font-size: large;
}

a {
	color: white;
}

a:hover {
	color:#471D5C;
	text-decoration: none;
}

.container-fluid {
	padding:0;
}

.row {
	margin: 0px;
}

.navbar {
	background-color: #471D5C;
	border:none;
	border-radius: 0;
	color: white;
	margin:0;
	padding:none;
}

.btn-group {
	background-color: transparent;
	font-family: "Open Sans";
	font-weight: 100;
	font-size: large;
	float:right;
}

.btn-default, .btn:focus {
	padding:2px;
	margin: 10% 25px 25px 25px;
	color:white;
	background-color: transparent;
	border:none;
	border-radius: 0;
	box-shadow: none;
}

.btn:hover, .btn:active {
	/*opacity: 0.5;
	background-color:#376266;*/
	background-color: transparent;
	border-bottom: 2px solid white;
}

.nav-btnl:hover {
	color:white;
}

.home-btn {
	margin-right: 10%;
	margin-top: 5%;
}

.home-btn:hover {
	color:white;
}

.home-btn-opp {
	color: #471D5C;
}

.home-btn-opp:hover {
	color: #471D5C;
}

#content-div {
	height:500px;
}

.jumbotron {
	margin:0;
	padding:0;
	background: url("../imgs/bellevue-skyline-sm.jpg"); 
  	background-size: cover;
  	background-position: center center;
 }

 #welcome-div {
 	position:relative;
	height:500px;
 }

#welcome-title {
	position: absolute;
	bottom:0px;
	/*padding: 300px 100px 75px 100px;*/
	padding: 5% 10%;
	text-shadow:1px 1px white;
	color:white;
}

.bar-text {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

#about-div {
	background-color: #376266;
	color:white;
}

#work-title {
	color: #471D5C;
}

.project-content {
	width:100%;
	margin:20px 0 0 0;
}

.img-cont {
	/*height:400px;*/
	margin:15px 0 15px 0;
}

.img, .img-nolink {
	height:400px;
	opacity: 0.7;
}

.img:hover {
	opacity: 1;
}

.visible-link {
	color: #471D5C;
}

#contact-div {
	background-color: #5F655C;
	color: white;
}

@media (max-width: 768px){
	
	.email {
		font-size: small;
	}

	.img, .img-nolink {
		width: 100%;
		height: auto;
	}
}
